@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.nav_bar {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background: rgba(245, 245, 247, 0.8);
}
.apple_icon {
  width: 14px;
  height: 44px;
}
.search_icon {
  width: 15px;
  height: 44px;
}
.bag_icon {
  width: 14px;
  height: 44px;
}
.nav_bar p {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 500% */
  letter-spacing: -0.28px;
}
div {
  display: flex;
  gap: 24px;
}
.we_are_donating {
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
}
.we_are_donating p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.iPhone {
  width: 100%;
  height: 692px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.figure_img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}
.info_99 {
  display: flex;
  width: 405px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  color: white;
  margin-top: 55px;
}
.info_1 {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 16px;
  align-self: stretch;
}
.pro_16 {
  width: 100%;
  height: fixed;
  display: flex;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.hello {
  display: flex;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.button {
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: center;
}
.button_1 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  background: #0071e3;
}
.button_2 {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}

.iPhone_2 {
  width: 100%;
  height: 692px;
  position: relative;
  display: flex;
  justify-content: center;
}
.rainbow_apple {
  background: url("Figure (3).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 692px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  /* padding: 81px 0 439px 0; */
  gap: 20px;
  padding-bottom: 50px;
  margin-bottom: 12px;
}
.heading3 {
  display: flex;
  width: 405px;
  flex-direction: column;
  align-items: center;
}
.button4 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  background: #0071e3;
}
.head3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.make {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.shop_button {
}
.gift {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.374px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}
.section4 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 12px;
}
.box_1 {
  background-image: url("Figure (4).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section4 .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}
.heading .ipad {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 52px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.box_1 .hello {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  width: 322px;
}
.intelligence {
}
.intelligence p {
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 350px;
}
.box_2 {
  background-image: url("Figure (5).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.title {
  margin-top: 400px;
}
.air {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.now {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.Air_button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.air_button_1 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  background: #0071e3;
}
.air_button_2 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}
.Air_button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}

.box_3 {
  background-image: url("Figure (6).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.apple {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}
.icon11 {
  width: 26.353px;
  height: 32px;
}
.apple p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.series {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.thin {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
  margin-top: 5px;
}
.apple_button {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.apple_button_1 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  background: #0071e3;
}
.apple_button_2 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}
.apple_button_1 p {
  color: white;
}
.apple_button_2 p {
  color: #2997ff;
}
.apple_button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}

.box_4 {
  background-image: url("Figure (7).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}
.mac {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  margin-top: 50px;
}
.mac1 {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.mac_button {
  display: flex;
  align-items: center;
  gap: 16px;
}
.mac_button_1 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  background: #0071e3;
}
.mac_button_2 {
  width: 68px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #2997ff;
}
.mac_button_1 p {
  color: white;
}
.mac_button_2 p {
  color: #2997ff;
}
.mac_button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}

.box_5 {
  background-image: url("Figure (8).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.apple_trade {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}
.icon22 {
  width: 26px;
  height: 32px;
}
.apple_trade p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.get_money {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.get_money p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.trade_button {
  width: 167px;
  height: 40px;
  border-radius: 999px;
  background: #0071e3;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.box_6 {
  background-image: url("Figure (9).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 49%;
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.apple_card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 50px;
}
.apple_card p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.get-up p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.card_button {
  display: flex;
  gap: 16px;
}
.card_button_1 {
  width: 144px;
  height: 44px;
  border-radius: 999px;
  background: #0071e3;
}
.card_button_1 p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.card_button_2 {
  width: 123px;
  height: 44px;
  border-radius: 999px;
  border: 1px solid #0071e3;
  color: #0071e3;
}
.card_button p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 10px;
}
.scrolls {
  width: 100vw;
  height: 668px;
  display: flex;
  align-items: center;
  column-gap: 15px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  background-position: center;
}
.scroll_item_1 {
  min-width: 1250px;
  height: 668px;
  background-image: url("bad-monkey.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.info {
  display: flex;
  align-items: end;

  /* padding: 70px 50px; */
  gap: 20px;
}
.stream_button {
  width: 133px;
  height: 44px;
  border-radius: 999px;
  background: #f5f5f7;
  padding: 12px 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}
.stream_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.comedy {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
}
.shady {
  opacity: 0.999;
  color: #fff;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.film_name {
  margin-bottom: 80px;
}
.film_name span {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 117.647% */
}
.scroll_item_2 {
  min-width: 1250px;
  height: 668px;
  background-image: url("baseball.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.stream_button_2 {
  width: 133px;
  height: 44px;
  border-radius: 999px;
  background: #f5f5f7;
  padding: 12px 20px;
  margin-left: 50px;
  margin-bottom: 70px;
}
.stream_button_2 p {
  font-size: 12px;
}
.scroll_item_3 {
  min-width: 1250px;
  height: 668px;
  background-image: url("instigators.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_4 {
  min-width: 1250px;
  height: 668px;
  background-image: url("k-pop-idols.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_5 {
  min-width: 1250px;
  height: 668px;
  background-image: url("lady-in-the-lake.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_6 {
  min-width: 1250px;
  height: 668px;
  background-image: url("morning-show.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_7 {
  min-width: 1250px;
  height: 668px;
  background-image: url("napoleon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_8 {
  min-width: 1250px;
  height: 668px;
  background-image: url("pachinko.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_9 {
  min-width: 1250px;
  height: 668px;
  background-image: url("pressumed-innocent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.scroll_item_10 {
  min-width: 1250px;
  height: 668px;
  background-image: url("season-pass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  scroll-snap-align: center;
}
.items {
  width: 100%;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.item_1_dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background: darkgrey;
}
#item_1 {
  background-image: url("bad-monkey.jpg");
}
#item_2 {
  background-image: url("baseball.jpg");
}
#item_3 {
  background-image: url("instigators.jpg");
}
#item_4 {
  background-image: url("k-pop-idols.jpg");
}
#item_5 {
  background-image: url("lady-in-the-lake.jpg");
}
#item_6 {
  background-image: url("morning-show.jpg");
}
#item_7 {
  background-image: url("napoleon.jpg");
}
#item_8 {
  background-image: url("pachinko.jpg");
}
#item_9 {
  background-image: url("pressumed-innocent.jpg");
}
#item_10 {
  background-image: url("season-pass.jpg");
}

.slider_infinite {
  width: 100%;
  height: 292px;
  overflow: hidden;
  /* padding: 20px 0; */
}

.slider {
  width: calc(417px * 20);
  /* width: 100%; */
  height: 292px;
  display: flex;
  column-gap: 16px;
  scroll-behavior: none;
  /* overflow: hidden; */
  animation-name: slide_scrolling;
  animation-iteration-count: infinite;
  animation-duration: 60s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes slide_scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-417px * 10));
  }
}
.slider_item_1 {
  min-width: 417px;
  height: 236px;
  background-image: url("1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_1:hover {
  filter: brightness(0.75);
}
.slider_item_1:hover {
  filter: brightness(0.75);
}
.slider_item_3:hover {
  filter: brightness(0.75);
}
.slider_item_4:hover {
  filter: brightness(0.75);
}
.slider_item_5:hover {
  filter: brightness(0.75);
}
.slider_item_6:hover {
  filter: brightness(0.75);
}
.slider_item_7:hover {
  filter: brightness(0.75);
}
.slider_item_8:hover {
  filter: brightness(0.75);
}
.slider_item_9:hover {
  filter: brightness(0.75);
}
.slider_item_10:hover {
  filter: brightness(0.75);
}

.slider_item_1 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.hover_button {
  width: 133px;
  height: 44px;
  border-radius: 999px;
  background: #f5f5f7;
  padding: 12px 20px;
  position: absolute;
  display: none;
}
.hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.slider_item_1:hover .hover_button {
  display: block;
}
.slider_item_2:hover .hover_button {
  display: block;
}
.slider_item_3:hover .hover_button {
  display: block;
}
.slider_item_4:hover .hover_button {
  display: block;
}
.slider_item_5:hover .hover_button {
  display: block;
}
.slider_item_6:hover .hover_button {
  display: block;
}
.slider_item_7:hover .hover_button {
  display: block;
}
.slider_item_8:hover .hover_button {
  display: block;
}
.slider_item_9:hover .hover_button {
  display: block;
}
.slider_item_10:hover .hover_button {
  display: block;
}

.slider_item_2 {
  min-width: 417px;
  height: 236px;
  background-image: url("2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_2 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_2 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.slider_item_3 {
  min-width: 417px;
  height: 236px;
  background-image: url("3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_3 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}

.slider_item_3 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.slider_item_4 {
  min-width: 417px;
  height: 236px;
  background-image: url("4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_4 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_4 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.slider_item_5 {
  min-width: 417px;
  height: 236px;
  background-image: url("5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_5 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_5 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.slider_item_6 {
  min-width: 417px;
  height: 236px;
  background-image: url("6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_6 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_6 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.slider_item_7 {
  min-width: 417px;
  height: 236px;
  background-image: url("7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_7 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_7 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}
.slider_item_8 {
  min-width: 417px;
  height: 236px;
  background-image: url("8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_8 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_8 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.slider_item_9 {
  min-width: 417px;
  height: 236px;
  background-image: url("9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_9 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.224px;
}
.slider_item_9 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.slider_item_10 {
  min-width: 417px;
  height: 236px;
  background-image: url("10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.slider_item_10 p {
  color: #fff;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128. 571% */
  letter-spacing: -0.224px;
}
.slider_item_10 .hover_button p {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
  letter-spacing: -0.374px;
}

.menu_icon {
  width: 18px;
  height: 18px;
  margin-top: 12px;
  display: none;
}

@media (max-width: 768px) {
  .nav_bar a {
    display: none;
  }
  .menu_icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .iPhone_1 {
    background-size: auto;
  }
}

@media (max-width: 768px) {
  .scrolls {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .scrolls .scroll_item_1 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_1 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_2 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_2 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_3 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_3 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_4 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_4 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_5 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_5 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_6 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_6 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_7 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_7 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_8 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_8 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_9 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_9 {
    width: 689px;
    height: 368px;
  }
  .scrolls .scroll_item_10 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_10 {
    width: 689px;
    height: 368px;
  }
  .nav_bar {
    justify-content: space-around;
  }
}

.img_88 {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 390px) {
  .nav_bar p {
    display: none;
  }
  .menu_icon {
    display: block;
  }
}

@media (max-width: 390px) {
  .iPhone {
    background-image: url("Figure (16).png");
  }

  .img_88 {
    display: block;
  }
}
@media (max-width: 390px) {
  .iPhone_2 {
    background: url("Figure (17).png");
  }
  .figure_img {
    display: none;
  }
  .iPhone .info_99 {
    margin-top: 450px;
  }
  .iPhone .info_1 .pro_16 {
    font-size: 42px;
  }
  .iPhone .button_2 p {
    color: #fff;
  }
  .nav_bar {
    justify-content: space-around;
  }
}

@media (max-width: 390px) {
  .section4 .box_1 {
    width: 100%;
  }
  .section4 .box_2 {
    width: 100%;
  }
  .section4 .box_3 {
    width: 100%;
  }
  .section4 .box_4 {
    width: 100%;
  }
  .section4 .box_5 {
    width: 100%;
  }
  .section4 .box_6 {
    width: 100%;
  }
  .scrolls .scroll_item_1 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_1 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_2 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_2 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_3 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_3 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_4 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_4 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_5 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_5 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_6 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_6 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_7 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_7 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_8 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_8 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_9 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_9 {
    width: 274px;
    height: 495px;
  }
  .scrolls .scroll_item_10 {
    min-width: 100%;
    height: 100%;
  }
  .scrolls .scroll_item_10 {
    width: 274px;
    height: 495px;
  }
  .stream_button p {
    font-size: 12px;
    line-height: 10px;
  }
}
