@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgba(245, 245, 247, 0.8);
}
.nav_bar {
  /* width: 1920px; */
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  background: rgba(245, 245, 247, 0.8);
}
.apple_icon {
  width: 14px;
  height: 44px;
}
.search_icon {
  width: 15px;
  height: 44px;
}
.bag_icon {
  width: 14px;
  height: 44px;
}
.nav_bar p {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 500% */
  letter-spacing: -0.28px;
}
.we_are_donating {
  padding: 16px;
  text-align: center;
  background: #fff;
}
.we_are_donating p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.blur {
  width: 100%;
  height: 75px;
  background-image: url("Background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 140px;
}
.header {
}
.header .store {
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */

  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gift {
  color: #6e6e73;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */
}
.shopping_help {
  display: flex;
  gap: 16px;
}
.foto_spec {
  width: 35px;
  height: 35px;
  background: url(<path-to-image>) lightgray 0px 0px / 100% 100% no-repeat;
}
.frame_49 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.frame_47 {
}
.need {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.ask {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.frame_48 {
}
.visit {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.span {
}
.find {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.icon44 {
  width: 6px;
  height: 14px;
}

.section_5 {
  width: 100%;
  height: 146px;
  margin-bottom: 60px;
  background: rgba(245, 245, 247, 0.8);
}
.product_list {
  height: 146px;
  display: flex;
  justify-content: space-around;
  gap: 12px;
  padding: 0 140px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin-bottom: 60px;
}
.list_item {
  display: flex;
  width: 136px;
  padding: 16px 8px;
  flex-direction: column;
  gap: 16px;
  border-radius: 18px;
}
.list_item_1 {
}
.store_card {
  height: 78px;
  align-self: stretch;
}
.Link {
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}

.section_6 {
  height: 558px;
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.title {
  display: flex;
  width: 467px;
  align-items: center;
  gap: 4px;
}
.the {
  display: flex;
  width: 130.87px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.let {
  display: flex;
  width: 331.64px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.items_detail {
  height: 500px;
  display: flex;
  gap: 20px;
  align-self: stretch;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.items_detail_1 {
  width: 480px;
  height: 500px;
  background-image: url("store-card-50-holiday-iphone-pro-202411_GEO_US.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.frame_51 {
  display: flex;
  width: 322px;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 30px;
  padding-top: 30px;
}
.apple_intel {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.frame_51 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.frame_50 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.iPhone {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
}
.from {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.items_detail_2 {
  width: 480px;
  height: 500px;
  background-image: url("store-card-50-holiday-watch-s10-202411.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.frame_52 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  padding-left: 30px;
  padding-top: 54px;
  gap: 12px;
}
.items_detail_3 {
  width: 480px;
  height: 500px;
  background-image: url("store-card-50-holiday-ipad-mini-202411 (1).png");
  background-size: cover;
  background-repeat: no-repeat;
}
.items_detail_4 {
  width: 480px;
  height: 500px;
  background-image: url("store-card-50-holiday-macbook-pro-202411.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.items_detail_2 .frame_51 {
  padding-top: 54px;
}

.section_7 {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.Items {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}
.section_7_item_1 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-40-holiday-engraving-202411.png");
  background-size: cover;
}
.make {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
  display: flex;
  width: 197px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  margin-top: 53px;
  margin-left: 30px;
}
.section_7_item_2 {
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  background-size: cover;
}
.section_7_item_2 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.airpods {
  width: 230px;
  height: 230px;
  background: url(<path-to-image>) lightgray 0px 0px / 100% 100% no-repeat;
}
.circle {
  display: flex;
  width: 253px;
  height: 58px;
  padding: 25px 86px 21px 79px;
  align-items: flex-start;
  gap: 7px;
}
.pin {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
.description {
  display: flex;
  width: 257px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.frame_55 {
  display: flex;
  height: 61px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}
.free {
  display: flex;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-self: stretch;
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.pods {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  align-self: stretch;
}
.price {
  display: flex;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.section_7_item_3 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 58px;
}

.section_7_item_4 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 58px;
}
.section_7_item_5 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 58px;
}
.title_1 {
  display: flex;
  width: 525px;
  align-items: center;
  gap: 4px;
}
.per {
  display: flex;
  width: 191px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section_8 {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.title_2 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hol {
  display: flex;
  width: 168px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.add {
  display: flex;
  width: 375px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.Items_1 {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}
.section_8_item_1 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-40-holiday-quick-picks-202411.png");
  background-size: cover;
}
.make {
  display: flex;
  width: 326px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
}
.section_8_item_2 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  background-size: cover;
}
.section_8_item_3 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  background-size: cover;
}
.section_8_item_4 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  background-size: cover;
}
.section_8_item_5 {
  width: 313px;
  height: 500px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  background-size: cover;
}
.section_9 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.title_9 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.exper {
  display: flex;
  width: 168px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.with {
  display: flex;
  width: 425px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.Items_3 {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}
.section_9_item_1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-holiday-delivery-pickup-202411.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section_9_item_2 {
  display: flex;
  width: 313px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.box_1 {
  width: 313px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.custom {
  width: 238px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  margin-top: 82px;
  margin-left: 30px;
}
.box_2 {
  width: 313px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.section_9_item_3 {
  display: flex;
  width: 313px;
  height: 500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.section_9_item_4 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-holiday-trade-in-202411.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.description_4 {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-left: 30px;
}
.trade {
  display: flex;
  width: 131px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.IN {
  width: 330.59px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 128% */
}
.section_9_item_5 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-holiday-specialist-help-202411.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section_10 {
  width: 100%;
  height: 558px;
  display: flex;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.Items_2 {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}
.title_3 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.exp {
  display: flex;
  width: 279px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.even {
  display: flex;
  width: 285px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.section_10_item_1 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-holiday-apple-music-202411 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}

.description_1 {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 30px;
  gap: 8px;
}
.apple {
  display: flex;
  width: 98px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.get1 {
  display: flex;
  width: 275px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.included {
  display: flex;
  width: 259px;
  height: 41px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}
.section_10_item_2 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-holiday-apple-tv-202411.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.TV {
  display: flex;
  width: 73px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  color: #f5f5f7;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.get2 {
  display: flex;
  width: 404.03px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.section_10_item_3 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-subscriptions-202108_GEO_US.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.six {
  display: flex;
  width: 442px;
  height: 66px;
  flex-direction: column;
  justify-content: center;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.section_10_item_4 {
  width: 480px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-50-apple-intelligence-202410_GEO_US.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.intel {
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.get3 {
  width: 384px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.description_2 {
  display: flex;
  flex-direction: column;
  margin-top: 31px;
  margin-left: 30px;
}

.section_11 {
  display: flex;
  width: 100%;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  margin-bottom: 60px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  background: rgba(245, 245, 247, 0.8);
}
.title_4 {
  display: flex;
  align-items: center;
  gap: 4px;
}
.special {
  display: flex;
  width: 199px;
  height: 34px;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.deals {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.Items_3 {
  display: flex;
  /* align-items: center; */
  gap: 20px;
  align-self: stretch;
}
.section_11_item_1 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("iphone-card-40-carriertrade-202409.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.carrier {
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.get4 {
  width: 330.67px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.get_up {
  width: 320.79px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}
.section_11_item_2 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-40-bts-edu-macbook-air-ipad-air-202406.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section_11_item_3 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-40-refurb-202408 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section_11_item_4 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("iphone-card-40-business-202409.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.get5 {
  width: 306px;
  color: #fff;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.section_11_item_5 {
  width: 400px;
  height: 500px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  background-image: url("store-card-40-gov-202402 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.get6 {
  width: 340px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.footer {
  display: flex;
  width: 100%;
  height: 96px;
  padding: 0 140px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-bottom: 100px;
  background: rgba(245, 245, 247, 0.8);
}
.heading {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.frame_66 {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}
.item_link {
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid #1d1d1f;
}
